/* React only takes control at the div, and the body is outside of that; change to largest div to regain the control */
.App {
  font-family: 'Cinzel Decorative', cursive;
  background: whitesmoke;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cinzel Decorative', cursive;
}