.article-links {
  margin: 30px 0 0 0;
}

.article-link {
  display: inline-block;
  background-color: #CFB53B;
  font-weight: 700;
  color: white;
  width: 12em;
  margin-right: 20px;
}

.article-link:hover {
  background-color: #E9CF55;
  color: white;
}

.article-link:hover i {
  background-color: #CFB53B;
}

.article-link i {
  display: inline-block;
  background-color: #B69C22;
  line-height: 2em;
  padding: 0 .6em;
}

.article-link-text {
  padding-left: 5px;
}

.commenting, .comment-list {
  display: none;
}

.comment-field, .comment-button {
  float: left;
  height: 50px;
  margin-top: 30px;
}

.comment-field {
  max-width: 90%;
  word-wrap: break-word;
}

.comment-button {
  background: #EAE9E6;
  background: -webkit-radial-gradient(to center, #D5D3D1, #EAE9E6);
  background: radial-gradient(to center, #D5D3D1, #EAE9E6);
  background-image: url('Stone.jpeg');
  background-size: 100% 100%;
  border: 1px solid black;
  border-radius: 12px;
  color: #E0DDDA;
  font-family: 'Cinzel Decorative', cursive;
  font-weight: bold;
  margin-left: 20px;
  padding: 10px;
}

h4 {
  display: 'block';
  margin-top: 15px;
  min-width: 100%;
}

ul {
  background-color: #F7F0E4;
  border: 1px ridge tan;
  padding: 20px;
  padding-bottom: 0;
}

li {
  margin-bottom: 20px;
}